<template>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand" href="#">Survey</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <template v-if="loggedUser">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" @click="logout()">Logout</a>
                        </li>
                    </ul>
                </template>
                <template v-else>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <router-link to="/login" class="nav-link">Login</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link to="/register" class="nav-link">Register</router-link>
                        </li>
                    </ul>
                </template>

            </div>
        </div>
    </nav>
    <router-view> </router-view>
</div>
</template>

<script>
export default {
    data() {
        return {
            loggedUser: this.$store.state.is_autheticated
        };
    },
    mounted() {
    },
    methods: {
        logout() {
            this.axios.post('/logout')
                .then(({
                    data
                }) => {
                    //Auth.logout(); //reset local storage
                    this.$store.commit('logout');
                    this.$router.go('login');
                })
                .catch((error) => {
                    console.log(error);
                });
        }
    }
}
</script>
