<template>
<!-- <div>
    <h1>Dashboard Dashboard</h1>
    <h4>The logged in user details Here</h4><br>
    <p> {{user.name}}</p>
    <p> {{user.email}}</p>
    <p> <a>logout</a></p>
</div> -->

<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-8 mt-2">

            <div class="alert alert-success" data-dismiss="alert"  role="alert" v-if="success_message">
                {{ success_message }}
            </div>

            <div class="alert alert-danger" data-dismiss="alert"  role="alert" v-if="error_message">
                {{ error_message }}
            </div>



            <h3 class="mt-5"> Welcome {{user}} </h3>

            <div class="card mt-3" v-if="answer_submitted">
                <div class="card-header">Result</div>

                 <div class="card-body">

                    <div class="radio" v-for="option in options" :key="option.option">
                        <button class="btn btn-light radio-label">
                            {{ option.option }} &nbsp;&nbsp; {{ option.percentage }}% - {{ option.selected_count }} result
                        </button>
                    </div>

                 </div>

             </div>

            <div class="card mt-3" v-else >
                <div class="card-header">{{ question }}</div>

                <div class="card-body">

                    <div class="radio" v-for="option in options" :key="option.option">

                        <input :id="option.id" name="radio" type="radio" :value="option.id" v-model="answer.option_id">
                        <label :for="option.id" class="radio-label"> {{ option.option }}</label>
                    </div>

                    <button class="btn btn-primary" @click="submit">Submit</button>

                </div>
            </div>





        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            user: this.$store.state.user.name,
            question: 'Question',
            options: [],
            answer: {
                question_id: '',
                option_id: '',
            },
            success_message:null,
            error_message: null,
            answer_submitted:null,

        }
    },
    mounted() {
        // if(!this.$store.state.is_autheticated){
        //     this.$router.push({ path: "/login" });
        // }



        this.axios.get('/question', )
            .then(({
                data
            }) => {
                this.question = data.data.question;
                this.options = data.data.options;
                this.answer.question_id = data.data.id;
            })
            .catch(error => {
                if (error.response.status == 401) {
                    // this.$store.commit('logout');
                    // this.$router.push({ path: "/login" });
                } else {
                }
            });

    },
    methods:{
        submit(){

            this.axios.post('/submit-answer',this.answer)
            .then(({data}) => {
                this.success_message = data.success;
                this.answer_submitted = true;
                this.options = data.data.options;
            })
            .catch(error => {
                if (error.response.status == 401) {
                    this.$store.commit('logout');
                    this.$router.go('login');
                } else {
                    this.error_message = error.response.data.errors.option_id[0];
                }

            })
        },
    },
    watch: {
        success_message:function(val) {
            setTimeout(() => {
                this.success_message = null;
            }, 5000);
        },
        error_message:function(val){
            setTimeout(() => {
                this.error_message = null;
            }, 5000);
        }
    },
}
</script>

<style scoped>
.card-header{
    font-size: 20px;
}
.radio {
    margin: 0.5rem;
}
.radio-label{
    font-size: 16px;
}

.radio input[type=radio] {
    position: absolute;
    opacity: 0;
}

.radio input[type=radio]+.radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 0em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type=radio]:checked+.radio-label:before {
    background-color: #3197ee;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type=radio]:focus+.radio-label:before {
    outline: none;
    border-color: #3197ee;
}

.radio input[type=radio]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type=radio]+.radio-label:empty:before {
    margin-right: 0;
}
</style>
