<template>
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body">

                        <div class="alert alert-danger" data-dismiss="alert" role="alert" v-if="is_error">
                            <div v-for="error in error_message" :key="error.email">
                                {{ error[0] }}
                            </div>

                        </div>

                        <form method="POST" action="#">
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="name" class="form-control" v-model="user.name" required autofocus>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                <div class="col-md-6">
                                    <input type="text" id="email_address" class="form-control" v-model="user.email" required autofocus>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" v-model="user.password" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password Confirmation</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" v-model="user.password_confirmation" required>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="button" class="btn btn-primary" @click="register()">
                                    Register
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</template>

<script>
export default {
    data() {
        return {
            user: {
                name: '',
                email: '',
                password: '',
                password_confirmation: ''
            },
            error_message: [],
            is_error: false
        };
    },

    methods: {
        register() {
            this.axios.post('/register', this.user)
                .then(({
                    data
                }) => {
                    this.$router.push('/login');
                })
                .catch((error) => {
                    this.is_error = true;
                    this.error_message = error.response.data.errors;
                });
        }
    }
}
</script>
